<section class="container">
    <div class="hero-unit">
        <h1>Happy App <small>beta</small></h1>
        <p>Write down happy thoughts so you can refer to them later. Think of this a micro-diary; all thoughts are private.</p>
    
        <%= link_to "Write down a happy thought", signup_path, :class => 'btn' %>
    </div>
</section>
