// Place all the styles related to the Thoughts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thought {
    text-align: center;
    margin-top: 40px;
}

#new_thought textarea {
    width: 258px;
    height: 80px;
}

.thought {
    width: 400px;
    margin-top: 30px;
}

.thought-text {
    text-align: center;
    font-size: 20px;
}

.thought-date {
    font-size: 12px;
    margin: 0px;
}

.thought-edit {
    margin: 0px;
}

#perspective {
    margin: auto;
    width: 400px;
}

#perspective ul {
    text-align: left;
}
