<section class="container well thought">
    <p class="thought-text"><%= @thought.thought %></p>
    <p class="thought-date pull-left">Written at <%= @thought.created_at.strftime '%l:%M %P' %> on <%= @thought.created_at.strftime '%b %-d %Y' %></p>
    <p class="thought-edit pull-right"><%= link_to 'Edit', edit_thought_path(@thought) %></p>
</section>
